@font-face {
    font-family: 'HakgyoansimNadeuriTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


.movieList{

}

.movieList > h1{
    color: white;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'HakgyoansimNadeuriTTF-B', serif;
}


